/* Soluzione qui */

/*tablet version*/

@media screen and (min-width: 767px) {

    #topbar {
        height: 70px;
	padding: 0 20px;
	background-color: #fff;

	display: flex;
	align-items: center;
	justify-content: flex-start;

    }

    main {
        padding: 2.5rem;
    }

    h2 {
        display: flex;
        gap: 8px;
        font-size: 35px;
    }
    .recipe-origin {
        display: block;
    }
    
}