/* Soluzione qui */

/*tablet version*/

@media screen and (min-width: 767px) {

    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;

        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    main {
        padding: 2.5rem;
    }

    h2 {
        display: flex;
        gap: 8px;
        font-size: 35px;
    }

    .recipe-origin {
        display: block;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .quick-notes ul li {
        flex-basis: calc(100% / 3 - (20px * 2) / 3);
        flex-shrink: 0;
        min-width: 180px
    }

    .social-networks {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        margin-bottom: 10px;
    }

    .social-networks button {
        padding: 0.5rem 3rem;
    }

    .ads {
        display: block;
    }

    .presentation img {
        display: inline;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .presentation p {
        overflow: hidden;
    }

}

@media screen and (min-width: 992px) {

    h2 {
        font-size: 45px;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        display: flex;
        flex-grow: 1;
    }

    .social-networks .label {
        display: block;
    }

    .social-networks .btn {
        display: flex;
        gap: 4px;

    }


    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;



    }

    address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    footer nav ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        gap: 10px;

    } 




}